__pycache__/
testcases/output/
testcases/reza/
.venv/
venv/
.idea/
.vscode/
.venv_ubuntu/
.venvubuntu/
luxi/
luxi_singlewindow/
.ipynb_checkpoints/
*.svg
*.csv
*.pdf
*.txt
*.bat
*.log
run_single_windows_testcases.py
run_single_windows_testcases_extended.py
results.zip
