__pycache__/
testcases/output/
.venv/
.idea/
.vscode/
.venv_ubuntu/
.venvubuntu/
.ipynb_checkpoints/
paramils-out/
/testcases/impact2/
/testcases/synthetic/
/testcases/synthetic2/
/testcases/synthetic3/
/results/old/
/.run/
